extends layout

block content
  h1 Author Page
  h2 Author Details
  p Name: #{author.name}
  p Bio: #{author.bio}
  h2 Books by #{author.name}
  ul
    each book in author.books
      li #{book.title}
  p Total Number of Books: #{author.books.length}
