extends layout

block content
  .w3-card-4
    header.w3-pink
      h2.w3-center Livros
    .w3-container
      table.w3-table-all
        thead
          tr
            th Id
            th Title
            th Publish Date
            th Pages
            th Authors
        tbody
          each livro in livros
            tr
              td
                a(href="/" + livro._id)= livro._id
              td= livro.title
              td= livro.publishDate
              td= livro.pages
              td 
                if livro.author && Array.isArray(livro.author)
                  each author in livro.author
                      a(href="/entidades/" + author)= author
                      | &nbsp;
                else
                    | N/A