extends layout

block content
  p 
    a(href="/") Voltar para a página inicial
  h1.w3-center Livro #{livro.title}
  if livro.coverImg
    img.w3-image(src=livro.coverImg, alt=livro.title)
  ul.w3-ul
    each field in ['_id', 'title', 'series', 'rating', 'description', 'language', 'isbn', 'bookFormat', 'edition', 'pages', 'publisher', 'publishDate', 'firstPublishDate', 'likedPercent', 'bbeScore', 'bbeVotes', 'price']
      - let fieldValue = livro[field]
      if fieldValue && fieldValue.length
        li #{field}: 
          if Array.isArray(fieldValue)
            ul.w3-ul
              each item in fieldValue
                li= item
          else
            | #{fieldValue}
      else
        li #{field}: N/A
